body {
  background-color: rgb(91, 146, 229);
}

/* overskrift h1 design */
h1{
font-style: bold;
font-size: 60px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden; /* tekst bliver ikke vist hvis det går ud over kanten*/
  background-color: rgb(0,0,0);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: inline-block; /* linkene fylder hele linjen*/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* fjerner understregen på link*/
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(14, 189, 247);
  color: black;
}

pre{
  background-color: rgb(225, 12, 12);
}


.boxFloatRighe{
float: right;
background-color: rgb(200,100,100);
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(75, 7, 124);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}